@import "tailwindcss";

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media (min-width: 2000px) {
  html {
    font-size: 125%; /* Scale up for 4K TV */
  }
}
